/* This is an example CSS file, feel free to remove/edit it anytime */

.container {
  position: absolute;
  top: 50%;
  margin-top: -225px;  /* Half of #content height */
  left: 10%;
  width: 100%;
}

.card {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 450px;
  border: 1px solid #000000;  
  background-color: aliceblue;
  border-radius: 16px;
  box-shadow: #17181a7a 6px 2px 16px 0px, #ad2c2ccc -6px -2px 16px 0px;
  
}

.contact_box { 
  box-sizing: content-box; 
  background-color: rgb(12, 92, 167);
  width: 33%;
  height: 335px;
  float: left;
  padding: 0px;
  border-radius: 14px 0 16px 0;  
}

.contact_box ul.icon_phone {
  list-style-type: none;
  font: italic .6rem "Georgia", serif, bold;
  display: block;
  height: 300px;
  position: relative;
  top: 230px;
  line-height: 16px;
}

.contact_box ul.icon_email {
  list-style-type: none;
  font: italic .6rem "Georgia", serif, bold;
  display: block;
  height: 300px;
  position: relative;
  bottom: 30px;
  line-height: 16px;
}

.icon_box { 
  box-sizing: content-box; 
  background-color: rgb(12, 92, 167);
  width: 33%;
  height: 100px;
  float: left;
  padding: 0;
  border-radius: 0 16px 0 14px;
  position: absolute;
  left: 0;
  bottom: 0px;
}

.icon_box ul {
  list-style-type: none;
  font: italic .6rem "Georgia", serif, bold; 
  line-height: 20px; 
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
}

.footer a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.footer span {
  font-size: 14px;
}





