/* This is an example CSS file, feel free to remove/edit it anytime */

.container {
  position: absolute;
  top: 50%;
  margin-top: -225px;  /* Half of #content height */
  left: 0;
  width: 100%;
}

.card {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 450px;
  border: 1px solid #000000;  
  background-color: aliceblue;
  border-radius: 16px;
  box-shadow: #17181a7a 6px 2px 16px 0px, #ad2c2ccc -6px -2px 16px 0px;
  
}

/*.text {} */

.contact_box {  
  background-color: rgb(12, 92, 167);
  width: 34%;
  height: 275px;
  float: left;
  padding: 15px;
  border-radius: 14px 0 16px 0;
}

.icon_box {  
  background-color: rgb(12, 92, 167);
  width: 30%;
  height: 125px;
  float: left;
  padding: 2px;
  border-radius: 0 16px 0 14px;
  position: fixed;
  bottom: 25.2%;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
}

.footer a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.footer span {
  font-size: 14px;
}



